<template>
	<div class="blog">
		<div class="banner">
			<div class="title">Blog</div>
		</div>
		<div class="hero">
			<div class="hero-body">
				<div class="container">
					<div class="columns">
						<div class="column is-two-thirds">
							<div class="blog-post">
								<div class="post-image">
									<div class="image">
										<img src="../assets/blog_image1.jpg" alt="" sizes="100vw">
									</div>
									<div class="image-caption" style="background-color:#7567f8;">DESIGN</div>
								</div>
								<div class="blog-title">
									Going Wireless With Your Headphones
								</div>
								<div class="blog-subtitle">
									Our ships have completed their scan of the area and found nothing. If the Millennium Falcon went into light-speed, it'll be on the other side of the galaxy by now.
								</div>
								<hr>
								<div class="level">
									<div class="level-left">
										<div class="level-item image is-32x32" style="border-radius:50%;"><img src="../assets/avat1.jpg" alt=""></div>
										<div class="level-item level-title">Glenn Cain</div>
										<div class="level-item dot"></div>
										<div class="level-item">July 28, 2017</div>
									</div>
									<div class="level-right">
										<div class="level-item title-caption">READ MORE</div>
									</div>
								</div>
							</div>
							<div class="blog-post">
								<div class="post-image">
									<div class="image">
										<img src="../assets/blog_image2.jpg" alt="" sizes="100vw">
									</div>
									<div class="image-caption" style="background-color:#df4798;">CASE STUDY</div>
								</div>
								<div class="blog-title">
									Enhance Your Brand Potential With Giant Advertising Blimps
								</div>
								<div class="blog-subtitle">
									Our ships have completed their scan of the area and found nothing. If the Millennium Falcon went into light-speed, it'll be on the other side of the galaxy by now.
								</div>
								<hr>
								<div class="level">
									<div class="level-left">
										<div class="image is-32x32" style="border-radius:50%;"><img src="../assets/avat1.jpg" alt=""></div>
										<div class="level-item">Glenn Cain</div>
									</div>
									<div class="level-right">
										<div class="level-item title-caption">READ MORE</div>
									</div>
								</div>
							</div>
							<div class="blog-post">
								<div class="post-image">
									<div class="image">
										<img src="../assets/blog_image3.jpg" alt="" sizes="100vw">
									</div>
									<div class="image-caption">DEVELOPMENT</div>
								</div>
								<div class="blog-title">
									Characteristics Of A Successful Web Developer
								</div>
								<div class="blog-subtitle">
									Our ships have completed their scan of the area and found nothing. If the Millennium Falcon went into light-speed, it'll be on the other side of the galaxy by now.
								</div>
								<hr>
								<div class="level">
									<div class="level-left">
										<div class="image is-32x32" style="border-radius:50%;"><img src="../assets/avat1.jpg" alt=""></div>
										<div class="level-item">Glenn Cain</div>
									</div>
									<div class="level-right">
										<div class="level-item title-caption">READ MORE</div>
									</div>
								</div>
							</div>
							<div class="blog-post">
								<div class="post-image">
									<div class="image">
										<img src="../assets/blog_image4.jpg" alt="" sizes="100vw">
									</div>
									<div class="image-caption">INSPIRATION</div>
								</div>
								<div class="blog-title">
									When You Are Down And Out How Do You Get Up And Go Forward
								</div>
								<div class="blog-subtitle">
									Our ships have completed their scan of the area and found nothing. If the Millennium Falcon went into light-speed, it'll be on the other side of the galaxy by now.
								</div>
								<hr>
								<div class="level">
									<div class="level-left">
										<div class="image is-32x32" style="border-radius:50%;"><img src="../assets/avat1.jpg" alt=""></div>
										<div class="level-item">Glenn Cain</div>
									</div>
									<div class="level-right">
										<div class="level-item title-caption">READ MORE</div>
									</div>
								</div>
							</div>
							<div class="blog-post">
								<div class="post-image">
									<div class="image">
										<img src="../assets/blog_image5.jpg" alt="" sizes="100vw">
									</div>
									<div class="image-caption">MARKETING</div>
								</div>
								<div class="blog-title">
									Characteristics Of A Successful Advertisement
								</div>
								<div class="blog-subtitle">
									Our ships have completed their scan of the area and found nothing. If the Millennium Falcon went into light-speed, it'll be on the other side of the galaxy by now.
								</div>
								<hr>
								<div class="level">
									<div class="level-left">
										<div class="image is-32x32" style="border-radius:50%;"><img src="../assets/avat1.jpg" alt=""></div>
										<div class="level-item">Glenn Cain</div>
									</div>
									<div class="level-right">
										<div class="level-item title-caption">READ MORE</div>
									</div>
								</div>
							</div>

							<div class="blog-post">
								<div class="post-image">
									<div class="image">
										<img src="../assets/blog_image6.jpg" alt="" sizes="100vw">
									</div>
									<div class="image-caption">TUTORIAL</div>
								</div>
								<div class="blog-title">
									Life Advice Looking Through A Window
								</div>
								<div class="blog-subtitle">
									Our ships have completed their scan of the area and found nothing. If the Millennium Falcon went into light-speed, it'll be on the other side of the galaxy by now.
								</div>
								<hr>
								<div class="level">
									<div class="level-left">
										<div class="image is-32x32" style="border-radius:50%;"><img src="../assets/avat1.jpg" alt=""></div>
										<div class="level-item">Glenn Cain</div>
									</div>
									<div class="level-right">
										<div class="level-item title-caption">READ MORE</div>
									</div>
								</div>
							</div>
						</div>
						<div class="column">
							<div class="group">
								<div class="group-title">Subscribe to latest posts straight to your inbox</div>
								<div><input type="text" class="winput" placeholder="Enter Your Email Address"></div>
								<div class="button"> Subscribe</div>
							</div>
							<div class="group">
								<div class="group-title">Categories</div>
								<hr>
								<ul>
									<li class="group-caption">CASE STUDY</li>
									<li class="group-caption">DESIGN</li>
									<li class="group-caption">DEVELOPENT</li>
									<li class="group-caption">INSPIRATION</li>
									<li class="group-caption">MARKETING</li>
									<li class="group-caption">TUTORIAL</li>
								</ul>
							</div>
							<div class="group">
								<div class="group-title">Tags</div>
								<hr>
								<div class="content" style="color:slategrey;">
									<p>AR/VR Advertising App Freelance Icons Illustration JavaScript Motivation Productivity Sales Tech UI/UX Web Design</p>
								</div>
							</div>
							<div class="group">
								<div class="group-title">Feature Posts</div>
								<hr>
								<div class="f-post">
									<div class="image">
										<img src="" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
  name: 'Blog',
  data () {
    return {

    };
  }
};
</script>
<style lang="scss" scoped>
.banner {
	background-image: url("../assets/banner-blog.jpg");
	height:40vh;
	.title {
		padding-top:20vh;
		color:white;
	}
}
.blog-post {
	padding: 20px;
}
.post-image{
	display:flex;
	height: 50vh;
	margin-bottom:20px;
	margin-top:30px;
}
.image {
	overflow:hidden;
}
.image-caption {
	position: absolute;
	margin:32px;
	padding: 4px 12px 0px 13px;
	border-radius:12px;
	background-color:black;
	height:24px;
	font-size:10px;
	letter-spacing:2px;
	color:white;
	font-weight:bold;
}
.image img {
	transition: transform 0.3s;	
}
.image:hover img {
	transform: scale(1.1);
}
.blog-title {
	font-size: 24px;
	line-height: 32px;
	font-weight:bold;
	margin-bottom:10px;
}
.blog-subtitle {
	font-size: 16px;
	line-height: 28px;
	color:slategrey;
}
.level-left * {
	color:#9096a4;
}
.dot {
	width:3px;
	height:3px;
	border-radius: 50%;
	background-color:#a5aab6;
}
.title-caption {
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 40px;
}
.level-item{
	font-size:13px;
	line-height:24px;
}
.level-title{
		font-weight:bold;
}
ul {
	list-style-type: disc;
	  list-style-position: inside;
}

</style>