<template>
	<div class="home">
		<div class="scroll-one" style="background-color: #ffffff;">
			<div class="columns">
				<div class="column">
					<div class="has-text-centered" style="padding-top: 9em;">
						<br>
						<div class="title">We are Marco</div>
						<div class="contents" style="color:slategrey">We create amazing Webflow templates for creative people all around the world and help brands stand out.</div>
						<br>
						<br>
						<div class="button">Let's Work Together</div>
					</div>
				</div>
				<div class="column" style="">
					<div class="banner">
					</div>
				</div>	
			</div>
		</div>
		<div class="scroll-two">
			<div class="hero">
				<div class="hero-body">
					<div class="container has-text-centered">
						<div class="title-caption">CASE STUDIES</div>
						<br>
						<div class="title">Selected Works</div>
					</div>
				</div>
			</div>
			<div class="hero">
				<div class="hero-body">
					<div class="container">
						<div class="columns">
							<div class="column">
								<img src="../assets/cimg1.jpg">
								<p class="has-text-centered">Magic Stone App</p>
							</div>
							<div class="column">
								<img src="../assets/cimg2.jpg">
								<p class="has-text-centered">Photographer Theme</p>
							</div>
							<div class="column">
								<img src="../assets/cimg4.jpg">
								<p class="has-text-centered">Floristic Branding</p>
							</div>
						</div>
						<div class="has-text-centered">
							<div class="button has-text-centered">Explore All Works</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="hero">
				<div class="hero-body">
					<div class="container has-text-centered">
						<div class="title-caption">OUR SERVICES</div>
						<br>
						<div class="title">What We Do</div>
						<div class="contents">We create amazing Webflow templates for creative people all around the world and<br> help brands stand out.</div>
					</div>
				</div>
			</div>

			
			<div class="hero">
				<div class="hero-body">
					<div class="container">
						<div class="columns">
							<div class="column">
								<div class="media">
									<div class="media-left">
										<div class="image is-64x64"><img src="../assets/a1.png" alt=""></div>
									</div>
									<div class="media-content">
										<strong>Web Design</strong>
										<p style="color:slategrey">If you end your training now, if you choose the quick and easy path, as Vader did, you will become an agent of evil.</p>
									</div>
								</div>
							</div>
							<div class="column">
								<div class="media">
									<div class="media-left">
										<div class="image is-64x64"><img src="../assets/a2.png" alt=""></div>
									</div>
									<div class="media-content">
										<strong>Mobile Applications</strong>
										<p style="color:slategrey">If you end your training now, if you choose the quick and easy path, as Vader did, you will become an agent of evil.</p>
									</div>
								</div>
							</div>
							<div class="column">
								<div class="media">
									<div class="media-left">
										<div class="image is-64x64"><img src="../assets/a3.png" alt=""></div>
									</div>
									<div class="media-content">
										<strong>Branding & Identity</strong>
										<p style="color:slategrey">If you end your training now, if you choose the quick and easy path, as Vader did, you will become an agent of evil.</p>
									</div>
								</div>
							</div>
						</div>
						<br>
						<div class="columns">
							<div class="column">
								<div class="media">
									<div class="media-left">
										<div class="image is-64x64"><img src="../assets/a4.png" alt=""></div>
									</div>
									<div class="media-content">
										<strong>Web Development</strong>
										<p style="color:slategrey">If you end your training now, if you choose the quick and easy path, as Vader did, you will become an agent of evil.</p>
									</div>
								</div>
							</div>
							<div class="column">
								<div class="media">
									<div class="media-left">
										<div class="image is-64x64"><img src="../assets/a5.png" alt=""></div>
									</div>
									<div class="media-content">
										<strong>Marketing</strong>
										<p style="color:slategrey">If you end your training now, if you choose the quick and easy path, as Vader did, you will become an agent of evil.</p>
									</div>
								</div>
							</div>
							<div class="column">
								<div class="media">
									<div class="media-left">
										<div class="image is-64x64"><img src="../assets/a6.png" alt=""></div>
									</div>
									<div class="media-content">
										<strong>SEO Optimization</strong>
										<p style="color:slategrey">If you end your training now, if you choose the quick and easy path, as Vader did, you will become an agent of evil.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="hero">
				<div class="hero-body" style="background-color: #7567f8;">
					<div class="container has-text-centered">
						<div class="title-caption">ARE YOU READY?</div>
						<br>
						<div class="title" style="color: white;">Let's Work Together</div>
						<div class="contents" style="color: white;">We create amazing Webflow templates for creative people all around the world and<br> help brands stand out.</div>
						<br>
						<div class="has-text-centered">
							<a href="" class="button has-text-centered">Contact Us</a>
						</div>
					</div>
				</div>
			</div>

			<div class="hero">
				<div class="hero-body">
					<div class="columns">
						<div class="column">
							<div class="has-text-left" style="padding-left: 7em; padding-top: 5em;">
								<div class="title-caption">SERVICES</div>
								<br>
								<div class="title">User-Centered <br> Design</div>
								<div class="contents" style="color:slategrey">Writing result-oriented ad copy is difficult, as it must <br>appeal to, entice, and convince consumers to take <br>action. There is no magic formula.</div>
								<div class="subtitle">LEARN MORE</div>
							</div>
						</div>
						<div class="column">
							<img src="../assets/a7.png">
						</div>
					</div>
				</div>	
			</div>
		</div>
		
		<div class="scroll-five">
			<div class="hero">
				<div class="hero-body">
					<div class="container has-text-centered">
						<div class="title-caption" style="line-height:20px">WHO ARE WE</div>
						<div class="title" style="margin-top:20px;">Creative Team</div>
						<div class="contents" style="color:slategrey;">We create amazing Webflow templates for creative people all around the world and help brands stand out.</div>
						<div class="columns header">
							<div class="column">
								<div class="image"><img src="../assets/mem2.jpg" alt=""></div>
								<div class="portait" style="font-weight:bold; margin-top:20px">Glenn Cain</div>
								<div class="portait" style="color:slategrey">Founder, CEO</div>
							</div>
							<div class="column">
								<div class="image"><img src="../assets/mem1.jpg" alt=""></div>
								<div class="portait" style="font-weight:bold; margin-top:20px">Lilly Powers</div>
								<div class="portait" style="color:slategrey">Designer</div>
							</div>
							<div class="column">
								<div class="image"><img src="../assets/mem3.jpg" alt=""></div>
								<div class="portait" style="font-weight:bold; margin-top:20px">Allen Tucker</div>
								<div class="portait" style="color:slategrey">Developer</div>
							</div>
							<div class="column">
								<div class="image"><img src="../assets/mem4.jpg" alt=""></div>
								<div class="portait" style="font-weight:bold; margin-top:20px">Rose Wells</div>
								<div class="portait" style="color:slategrey">Support</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="scroll-six">
			<div class="hero" style="background-color:#7567f8;">
				<div class="hero-body">
					<div class="container has-text-centered">
						<div class="title" style="color:#ffffff;">Trusted by World's Best Brands</div>
						<div class="columns">
							<div class="column">
								<img src="http://uploads.webflow.com/596703900b9d8607d4337d5a/5968bb9f8ed9cf7dd2ee5935_national-geographic-logo-white.svg">
							</div>
							<div class="column">
								<img src="http://uploads.webflow.com/596703900b9d8607d4337d5a/5968bb9f1c3c6739b0aff619_canon-logo-white.svg">
							</div>
							<div class="column">
								<img src="http://uploads.webflow.com/596703900b9d8607d4337d5a/5968bb9f60a737091d9e4c73_webflow-logo-white.svg"> 
							</div>
							<div class="column">
								<img src="http://uploads.webflow.com/596703900b9d8607d4337d5a/5968bb9f60a737091d9e4c74_spotify-logo-white.svg">
							</div>
							<div class="column">
								<img src="http://uploads.webflow.com/596703900b9d8607d4337d5a/5968bb9f098b3406e8f8d786_google-logo-white.svg">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="scroll-seven">
			<div class="hero">
				<div class="hero-body">
					<div class="container has-text-centered">
						<div class="title-caption" style="line-height:20px">Testimonials</div>
						<div class="title" style="margin-top:20px;">Clients About Us</div>
						<div class="columns">
							<div class="column">
								<div class="card">
									<div class="card-content">
										<div class="content">
											“Yes, I was once a Jedi Knight the same as your father. I wish I'd known him."
											<br>
											<time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
										</div>

										<div class="media">
											<div class="media-left">
												<figure class="image is-48x48">
													<img src="http://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
												</figure>
											</div>
											<div class="media-content">
												<p class="subtitle is-6">Leo Mack — Webflow</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="column">
								<div class="card">
									<div class="card-content">
										<div class="content">
											“If you end your training now, if you choose the quick and easy path, as Vader did, you will become an agent of evil.”
											<br>
											<time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
										</div>

										<div class="media">
											<div class="media-left">
												<figure class="image is-48x48">
													<img src="http://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
												</figure>
											</div>
											<div class="media-content">
												<p class="subtitle is-6">Victoria McCoy — Google</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="column">
								<div class="card">
									<div class="card-content">
										<div class="content">
											“Our ships have completed their scan of the area and found nothing. If the Millennium Falcon went into light-speed, it'll be on the other side of the galaxy by now.”
											<br>
											<time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
										</div>

										<div class="media">
											<div class="media-left">
												<figure class="image is-48x48">
													<img src="http://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
												</figure>
											</div>
											<div class="media-content">
												<p class="subtitle is-6">Claudia Davidson — Shopify</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="columns">
							<div class="column">
								<div class="card">
									<div class="card-content">
										<div class="content">
											“Our ships have completed their scan of the area and found nothing. If the Millennium Falcon went into light-speed, it'll be on the other side of the galaxy by now.”
											<br>
											<time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
										</div>

										<div class="media">
											<div class="media-left">
												<figure class="image is-48x48">
													<img src="http://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
												</figure>
											</div>
											<div class="media-content">
												<p class="subtitle is-6">Lizzie Moore — Zapier</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="column">
								<div class="card">
									<div class="card-content">
										<div class="content">
											“He says he's the property of Obi-Wan Kenobi, a resident of these parts. And it's a private message for him."
											<br>
											<time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
										</div>

										<div class="media">
											<div class="media-left">
												<figure class="image is-48x48">
													<img src="http://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
												</figure>
											</div>
											<div class="media-content">
												<p class="subtitle is-6">Leroy Sims — Apple</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="column">
								<div class="card">
									<div class="card-content">
										<div class="content">
											“Yes, I was once a Jedi Knight the same as your father. I wish I'd known him."
											<br>
											<time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
										</div>

										<div class="media">
											<div class="media-left">
												<figure class="image is-48x48">
													<img src="http://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
												</figure>
											</div>
											<div class="media-content">
												<p class="subtitle is-6">Steve Richardson — Dribbble</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="scroll-eight">
			<div class="hero">
				<div class="hero-body">
					<div class="container has-text-centered">
						<div class="title-caption" style="line-height:20px">CONTACT US</div>
						<div class="title" style="margin-top:20px;">Let’s Get in Touch</div>
						<br>
						<div class="contents" style="color:slategrey;">We create amazing Webflow templates for creative people all around the world and<br> help brands stand out.</div>
						<br>
						<br>
						<div class="container">
							<div class="columns">
								<div class="column">
									<div class="subtitle">Email</div>
									<p>hello@marco.com</p>
								</div>
								<div class="column">
									<div class="subtitle">Address</div>
									<p>1879 Park Ave, Los Angeles,<br> CA 90026, USA</p>
								</div>
								<div class="column">
									<div class="subtitle">Phone</div>
									<p>323-238-6207</p>
								</div>
							</div> 
							<div class="has-text-centered" style="padding-left: 8em;">
								<gmap-map :center="center" :zoom="17" style="width: 90%; height: 400px">
									<gmap-marker :key="index" v-for="(m, index) in markers" :position="m.position" :clickable="true" :draggable="true" @click="center=m.position">
									</gmap-marker>
								</gmap-map>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		
	</div>
</template>

<script>
export default {
	name: 'home',
	data () {
		return {
			center: {lat: 13.0133627, lng: 80.1299344},
			markers: [{
				position: {lat: 13.0133627, lng: 80.1299344}
			}]
		}
	},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style land="scss" scoped>
.banner {
	background-image: url("../assets/temp5.jpg");
}
.header {
	margin-top: 40px;
}
.scroll-two+.scroll-three .hero  {
	text-align: center;
}
.title-caption {
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 4px; color: #ffa353;
}
.scroll-two .card * {
	text-align: left;
	/*color: white;*/
}
.scroll-two .card {
	/*background-color: #7567f8;*/
	border-radius: 10px;
	margin-top: 15vh;
}
.scroll-one {
	background-color: #ffffff;
}
.scroll-three {
	background-color: #f5f6f9;
}
.scroll-three .card {
	background-color: #f5f6f9;
}
.scroll-four .card{
	padding: 10px;
}
.rounded {
	border-radius: 32px;
}
.tile .card {
	background-color: #ffa353;
	color: white;
}
.tile .subtitle {
	color: white;
}
.scroll-five {
	background-color: #f5f6f9;
	margin-top: 6em;
}
.contact-left {
	background-image: url("../assets/conimg.jpg");
	background-size: cover;
	width: 100%;
}
.contact-right {
	margin-left: 10em;
	margin-top: 8em;
}
.scroll-six {
	width:100%;
	margin-top: 1vh;
}
@media screen and (min-width: 1008px){
	.move-right {
		transform: translateX(-80px);
	}
	.move-left {
		transform: translateX(-80px);
	}
	.move-down {
		transform: translateY(60px);
	}
	.scroll-three .card .image {
		padding: 40px;
	}
	.scroll-three .card {
		/*box-shadow:0 8px 28px 0 rgba(46, 50, 60, .27);*/
		box-shadow: 0 0 0 0 rgba(46, 50, 60, .27);
		transition: transform 300ms, color 300ms;
	}
	.scroll-three .card:hover {
		box-shadow:0 8px 28px 0 rgba(46, 50, 60, .27);
		transform: translateY(-5px);
		background-color: white;
	}
	.scroll-four .card{
		padding: 40px;
	}
}
</style>