<template>
	<div class="home">
		<div class="banner">
			<div class="title">
				Portfolio
			</div>
		</div>
		<div class="scroll-two">
			<div class="hero">
				<div class="hero-body">
					<div class="container has-text-centered">
						<div class="title-caption">CASE STUDIES</div>
						<br>
						<div class="title">Selected Works</div>
						<div class="contents" style="color:slategrey">We create amazing Webflow templates for creative people all around the world and<br> help brands stand out.</div>
					</div>
				</div>
			</div>
		</div>
			<div class="scroll-three">
				<div class="hero">
					<div class="hero-body">
						<div class="container">
							<div class="columns">
								<div class="column">
									<div class="image"><img src="../assets/cimg1.jpg" alt=""></div>
									<p class="has-text-centered">Magic Stone App</p>
								</div>
								<div class="column">
									<div class="image"><img src="../assets/cimg2.jpg" alt=""></div>
									<p class="has-text-centered">Photographer Theme</p>
								</div>
								<div class="column">
									<div class="image"><img src="../assets/cimg4.jpg" alt=""></div>
									<p class="has-text-centered">Floristica Branding</p>
								</div>
							</div>
						</div>
                        <br>
                        <br>
						<div class="container">
							<div class="columns">
								<div class="column">
									<div class="image"><img src="../assets/cimg3.jpg" alt=""></div>
									<p class="has-text-centered">Fitness Tracking App</p>
								</div>
								<div class="column">
									<div class="image"><img src="../assets/work1.jpg" alt=""></div>
									<p class="has-text-centered">Pro Camera App</p>
								</div>
								<div class="column">
									<div class="image"><img src="../assets/w1.jpg" alt=""></div>
									<p class="has-text-centered">Architect Website</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>	
<div class="scroll-four">
<div class="hero">
	<div class="hero-body">
		<div class="container has-text-centered">
			<div class="subtitle" style="font-weight: bold;">Trusted by World's Best Brands</div>
			<div class="columns">
				<div class="column">
					<img src="../assets/ng.svg">
				</div>
				<div class="column">
					<img src="../assets/canon.svg">
				</div>
				<div class="column">
					<img src="../assets/webflow.svg"> 
				</div>
				<div class="column">
					<img src="../assets/spot.svg">
				</div>
				<div class="column">
					<img src="../assets/google.svg">

				</div>
			</div>
		</div>
	</div>
</div>


<div class="hero">
	<div class="hero-body" style="background-color: #7567f8;">
		<div class="container has-text-centered">
			<div class="title-caption">ARE YOU READY?</div>
			<br>
			<div class="title" style="color: white;">Let's Work Together</div>
			<div class="contents" style="color: white;">We create amazing Webflow templates for creative people all around the world and<br> help brands stand out.</div>
			<br>
			<div class="has-text-centered">
				<a href="" class="button has-text-centered">Contact Us</a>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</template>

<script>
export default {

	name: 'Works',
	data () {
		return {

		};
	}
};
</script>

<style lang="css" scoped>
.banner {
	background-image: url("../assets/work1.jpg");
}
.header {
	margin-top: 40px;
}
.scroll-two+.scroll-three .hero  {
	text-align: center;
}
.title-caption {
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 4px; color: #ffa353;
}
.scroll-two .card * {
	text-align: left;
	/*color: white;*/
}
.scroll-two .card {
	/*background-color: #7567f8;*/
	border-radius: 10px;
	margin-top: 15vh;
}
.scroll-three {
	background-color: #f5f6f9;
}
.scroll-three .card {
	background-color: #f5f6f9;
}
.scroll-four .card{
	padding: 10px;
}
.rounded {
	border-radius: 32px;
}
.tile .card {
	background-color: #ffa353;
	color: white;
}
.tile .subtitle {
	color: white;
}
.scroll-five {
	background-color: #f5f6f9;
	margin-top: 6em;
}
.contact-left {
	background-image: url("../assets/conimg.jpg");
	background-size: cover;
	width: 100%;
}
.contact-right {
	margin-left: 10em;
	margin-top: 8em;
}
.scroll-six {
	width:100%;
	margin-top: 1vh;
}
.brand {
	color: #7567f8;
}
@media screen and (min-width: 1008px){
	.move-right {
		transform: translateX(-80px);
	}
	.move-left {
		transform: translateX(-80px);
	}
	.move-down {
		transform: translateY(60px);
	}
	.scroll-three .card .image {
		padding: 40px;
	}
	.scroll-three .card {
		/*box-shadow:0 8px 28px 0 rgba(46, 50, 60, .27);*/
		box-shadow: 0 0 0 0 rgba(46, 50, 60, .27);
		transition: transform 300ms, color 300ms;
	}
	.scroll-three .card:hover {
		box-shadow:0 8px 28px 0 rgba(46, 50, 60, .27);
		transform: translateY(-5px);
		background-color: white;
	}
	.scroll-four .card{
		padding: 40px;
	}
}
img {
	border-radius: 10px;
}
</style>