@import "~bulma/sass/utilities/_all";
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

$family-sans-serif : "Maven Pro";
$family-serif: "Maven Pro";
$family-primary: "Maven Pro";
$small-font-size:10px;

$card-shadow:0 8px 28px 0 rgba(46, 50, 60, .27);

@import "~bulma";
.banner {
	background-size: cover;
	/*background-color: blue;*/
	background-blend-mode: darken;
	height: 93vh;
	color: white;
	text-align: center;
	.title {
		padding-top: 50vh;
	}
}
.fsmall {
	font-size: $small-font-size;
}
.greyed {

}
.fmedium {

}
.banner {
	.title {
		font-size: 60px;
	}
	.contents {
		font-size: 22px;
	}
}
.hero {
	.title {
		font-size: 40px;
		line-height: 48px;
	}
	.contents {
		font-size: 16px;
		line-height: 28px;
	}
}

.card {
	border-radius:10px;
	.title {
		font-size: 32px;
		line-height: 40px;
	}
	.contents {
		font-size: 16px;
		line-height: 28px;
	}
	.subtitle {
		font-size: 13px;
		line-height: 24px;
	}
}
.media-content {
	line-height: 24px;
	strong {
		font-size: 16px;
	}
	p {
		font-size: 14px;
	}
}
.portait {
		line-height: 24px;
		font-size: 16px;
}


.button {
	background-image:linear-gradient(90deg, #ff753e, #ffb731);
	color:white; 
	border-radius:24px;
	height:48px;
	font-weight: 700;
	border:0;
	padding: 11px 24px;
}

.footer {
	.title {
		font-size: 16px;
		line-height: 24px;
	}
	.subtitle {
		font-size: 14px;
		line-height: 24px;
		color: slategrey;
	}
}

img {
	border-radius: 10px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.is-32x32 {
	border-radius:50%;
}
.group {

		font-size: 14px;
		line-height: 32px;
	padding:10px 20px;
	.group-title {
		font-size: 20px;
		line-height: 28px;
		font-weight: bold;
	}
	.group-caption {
		font-size:11px;
		line-height: 28px;
		letter-spacing: 1px;
		font-weight: bold;
	}
	.group-subtitle {
	}
}

.f-post {
	.f-title {
		font-size: 16px;
		line-height: 24px;
	}
	.f-caption {
		font-size: 10px;
		line-height: 32px;
		letter-spacing: 1px;
	}
}


.winput {
	height: 48px;
  margin-bottom: 32px;
  padding-top: 7px;
  padding-right: 0px;
  padding-left: 0px;
  border-color: #000 #000 #ccd0d9;
  border-top-style: none;
  border-top-width: 1px;
  border-right-style: none;
  border-right-width: 1px;
  border-left-style: none;
  border-left-width: 1px;
  border-radius: 0px;
  background-color: transparent;
  -webkit-transition: border-color 300ms ease;
  transition: border-color 300ms ease;
  font-size: 15px;
  line-height: 24px;
}
