<template>
	<div id="app">
		<div class="navbar">
			<div class="navbar-brand">
				<div class="navbar-item">BRAND</div>
			</div>
			<div class="navbar-menu">
				<div class="navbar-start">
					<div class="navbar-item fsmall">creative agency template</div>
				</div>
				<div class="navbar-end">
					<router-link to="/" class="navbar-item">Home</router-link>
					<router-link to="/works" class="navbar-item">Portfolio</router-link>
					<router-link to="/services" class="navbar-item">Services</router-link>
					<router-link to="/blog" class="navbar-item">Blog</router-link>
					<router-link to="/about" class="navbar-item">About</router-link>
					<router-link to="/pricing" class="navbar-item">Pricing</router-link>
				</div>
			</div>
		</div>
		<router-view></router-view>
		<div class="hero">
			<div class="hero-body">
				<div class="container">
					<div class="footer">
						<div class="columns">
							<div class="column">
								<div class="logo">BRAND</div>
							</div>
							<div class="column">
								<div class="title">Address</div>
								<div class="subtitle">
									<div>Vivekanandar Road</div>
									<div>Dubai Main Road</div>
									<div>Dubai</div>
								</div>
							</div>
							<div class="column">
								<div class="title">Phone</div>
								<div class="subtitle">000-00-000-00</div>
							</div>
							<div class="column">
								<div class="title">Email</div>
								<div class="subtitle">one@two.com</div>
							</div>
						</div>
					</div>
					<hr>
					<div class="level">
						<div class="level-left">
							<div class="level-item">
								<div style="color:slategrey">Created by&nbsp;</div> Foxolabs
							</div>
						</div>
						<div class="level-right">
							<div class="level-item">
								<div class="style" style="color:slategrey;">of&nbsp;</div> Idiots
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'app'
}
</script>

<style>
#app {
	/*font-family: 'Lato';*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
}
.fsmall {
	color: slategrey;
}
.navbar {
	position: fixed;
	z-index: 10;
	width: 100%;
	padding: 0 10%;
	box-shadow: 0 3px 9px 0 rgba(46, 50, 60, .09);
}
.navbar-item {
	padding-top: 16px;
	padding-bottom: 16px;
}
.hero {
	background-color: whitesmoke;
}
.level {
	font-size: 12px;
	line-height: 24px;
}
</style>